<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720078740234-gv6akefl5or7sr360t0jhsa9vd85m9rh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720078740234-gv6akefl5or7sr360t0jhsa9vd85m9rh</string>
	<key>API_KEY</key>
	<string>AIzaSyCQyYIDF-jfS9Oia5xOSMtF6Bh7_6ShIAI</string>
	<key>GCM_SENDER_ID</key>
	<string>720078740234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stacklabs.flutterBackends</string>
	<key>PROJECT_ID</key>
	<string>ore-firebase-flutter-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>ore-firebase-flutter-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720078740234:ios:2b0a26fe8b4dd21f6238f3</string>
</dict>
</plist>